---
---

/* Custom bootstrap variables are defined in _sass/bootstrap/_custom.scss */
@import "bootstrap/bootstrap";

/* Custom css */
.thick-rule {
  height: 1em;
  width: 100%;
  padding-bottom: 0;
  padding-top: 0;
}

.shadow {
  border-style: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
  letter-spacing: .1em;
}

.padded, .footer {
  margin-top: 1em;
  margin-bottom: 1em;
}

.footer {
  color: $gray;
}

.no-border {
  border-style: none;
}

.navbar-border {
  border-left: .5em solid $brand-secondary-dark;
}

.menu-item {
  align-self:stretch;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.current-menu-item {
  background: $brand-secondary-light;
}

img {
  max-width: 80%;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.blink-caret {
  border-right: .1em solid $brand-primary-dark;
  animation:
    blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $brand-primary-dark; }
}

.card-project {
    height: 300px;
    margin-top: 1.25rem;
}

.project-img {
    height: 100px;
}

