<nav class="navbar navbar-toggleable-sm padded navbar-inverse bg-secondary shadow navbar-border">
  <button class="navbar-toggler no-border" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navigation">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Upcoming Events</a>
      <a class="nav-item nav-link" href="#">Register</a>
      <a class="nav-item nav-link" href="#">Past Workshops</a>
      <a class="nav-item nav-link" href="#">Contact Us</a>
    </div>
  </div>
</nav>