---
layout: default
---
<article class="post">

  <div class="post-content">
    <div class="card">
        <div class="card-block">
        <p>{{ content }}</p>
        </div>
    </div>

    <div class="projects row">
    <div class="card-deck">
    {% include project_tags.html %}
    {% for i in site.data.projects %}
    <div class="project-item col-md-4 col-sm-6 col-xs-12" data-tags='{{ i.tags | jsonify | downcase }}'>
        <div class="card card-project project-outer">
            <div class="project-inner">
                <img class="card-img-top project-img" src="/static/img/{{ i.image }}" class="thickbox" alt="GPN Logo">
                <div class="card-block">
                        <div class ="card-text">
                                {% if i.url %} <a href="{{ i.url }}"> {% endif %}
                                <h3 class="project-headlines">{{ i.name }}</h3>
                                {% if i.url %} </a> {% endif %}
                                <div class="project-content">
                                    <div class="tag-holder">
                                    {% if i.tags %}
                                        {% for j in i.tags %}
                                        <span class="label tags tag-filter" data-tag="{{ j | downcase }}">{{ j }}</span>
                                        {% endfor %}
                                    {% endif %}
                                    </div>

                                </div>
                        </div>
                        <div class="project-footer">
                            {% if i.url %}
                            <a href="{{ i.url }}" class="btn btn-info btn-raised btn-sm project-link">View</a>
                            {% endif %}
                            <span class="project-timeline">{{ i.date }}</span>
                        </div>
                </div>
            </div>
        </div>
        </div>
    {% endfor %}
    </div>
    </div>
  </div>

</article>
